/* 
    This style sheet stylizes the controls inside our
    TA Manager JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Note that it may seem overwhelming to see so many different
    style classes, even though our application doesn't have that
    many controls, but what this allows us to do is easily
    control and update the style of the entire user interface
    via a stylesheet without having the change Java code.

    Author:	Richard McKenna
    C0-Author: Khurram Malik
    Version:	2.0
*/
.root{
    -fx-font-family: "Courier New";
}

.dialog_pane {
    -fx-padding:15;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-background-color: bisque;
    -fx-color:red;
}

.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.plain_pane{
    
}

.scroll-pane > .viewport {
   -fx-background-color: #ffdab9;
}

.scroll_pane{
 -fx-background-color: #ffdab9;   
}

.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.header_pane{
    -fx-background-color:#C0C0C0;
}

.header_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.ta_table{
    -fx-font-size:16pt;
    -fx-background-color:#ffdab9;
    
}

.table-view .column-header.ta_table_column_header .label {
    -fx-text-fill:white;
    -fx-background-color:#C0C0C0;
}

.schedule_label{
     -fx-font-size: 17pt;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-padding: 5 1400 5 20;
}

.color_picker{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10; 
}

.datepicker_boxes{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10; 
}

.proj_label{
  -fx-font-size: 17pt;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-padding: 5 1400 5 20;  
}

.scheduleitem_label{
    -fx-font-size: 17pt;
    -fx-font-weight: bold; 
}

.addupdate_label{
    -fx-font-size: 17pt;
    -fx-font-weight: bold; 
}
.add_ta_pane{
    -fx-padding: 5 10 5 10;
}

.add_ta_text_field{
    -fx-font-size: 14pt;
}

.tab-pane{
    -fx-background-color: #ffdab9;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
 
}

.course_info_label{
    -fx-font-size: 17pt;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-padding: 5 1180 5 20;
}

.template_label{
     -fx-font-size: 17pt;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-padding: 5 1153 5 20;
}

.rec_table{
    -fx-border-color: black;
    -fx-table-cell-border-color:black;
    -fx-background-color:#f5f5dc;
    
}

.table-view .column-header.rec_column_headers .label {
    -fx-text-fill:white;
    -fx-background-color:#C0C0C0;
    }

.rec_table .table-row-cell {
    -fx-border-color: black;
}

.template_table{
    -fx-border-color: black;
    -fx-table-cell-border-color:black;
    -fx-background-color:#f5f5dc;
}

.template_table .table-row-cell {
    -fx-border-color: black;
}

.table-view .column-header.template_column_headers .label {
    -fx-text-fill:white;
    -fx-background-color:#C0C0C0;
    
}

.page_style_label{
     -fx-font-size: 17pt;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-padding: 5 1194 5 20;
    
}

.rec_label{
     -fx-font-size: 17pt;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-padding: 5 1400 5 20;
}

.all_rec_labels{
    -fx-text-fill:black;
   -fx-font-size: 8pt;
    -fx-font-weight: bold; 
    -fx-font-family: "Arial";
}

.all_rec_boxes{
   -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;   
}

.addeditrec_label{
    -fx-font-size: 17pt;
    -fx-font-weight: bold;
}

exportadd_button{
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.coursedetails_buttons{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;  
}

.buttons{
    -fx-text-fill:black;
   -fx-font-size: 8pt;
    -fx-font-weight: bold; 
    -fx-font-family: "Arial"; 
}

.coursedetails_comboboxes{
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-color:#C0C0C0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;  
}


.template_column_headers{
    -fx-text-fill:black;
    -fx-background-color:#f5f5dc;
    -fx-font-size: 12pt;
    
}

.add_ta_button{
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}

.remove_ta_button{
  -fx-font-size: 14pt;
  -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
    
}
.update_ta_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.clear_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.clear_button_1{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.office_hours_grid_new_end_time{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.office_hours_grid_new_start_time{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.office_hours_grid_update_time_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.office_hours_grid{
    
}

.office_hours_grid_time_column_header_pane{
    -fx-background-color:#A9A9A9;
    -fx-border: 1px;    
}

.office_hours_grid_time_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_day_column_header_pane{
    -fx-background-color:#A9A9A9;
    -fx-border: 1px;
    -fx-border-color: #A9A9A9;
}

.office_hours_grid_day_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_time_cell_pane{
    -fx-background-color:#ffdab9; 
    -fx-border: 1px;   
    -fx-border-color:darkgray;
    -fx-border-style:dashed;
}

.office_hours_grid_time_cell_label{
    -fx-font-size:14pt;
    -fx-text-fill:white;
}

.office_hours_grid_ta_cell_pane{
    -fx-background-color:#A9A9A9;
    -fx-border: 5px;
    -fx-border-color: black;
}

.office_hours_grid_ta_cell_label{
    -fx-font-weight:bold;
    -fx-font-size:12pt;  
    -fx-padding: 7 12 7 12;
}

.highlighted_grid_cell {
    -fx-border-color: #ffff00;
    -fx-border: 8px;
}

.highlighted_grid_row_or_column {
    -fx-border-color: #aaaa00;
    -fx-border: 8px;
    -fx-border-style:solid;
}